In [1]:
import pandas as pd

In [53]:
dictVals = [[1,1],[2, 5],[3, 8],[4, 9],[5,10],[6,17],[7,17],[8, 20],[9, 24],[10,30]]
indexVals = ['A','B','C','D','E','F','G','H','I','J']

In [48]:
columnVals = ['Amount', 'Price']

In [61]:
df = pd.DataFrame(data = dictVals,index=indexVals,columns=columnVals)
df['Total'] = df['Amount'] * df['Price']
df

   Amount  Price  Total
A       1      1      1
B       2      5     10
C       3      8     24
D       4      9     36
E       5     10     50
F       6     17    102
G       7     17    119
H       8     20    160
I       9     24    216
J      10     30    300

In [67]:
df.sort_values(by='Total', ascending=False, inplace=True)
df

   Amount  Price  Total
J      10     30    300
I       9     24    216
H       8     20    160
G       7     17    119
F       6     17    102
E       5     10     50
D       4      9     36
C       3      8     24
B       2      5     10
A       1      1      1

In [115]:
def check_availability(Amount, inventory):
    return Amount <= inventory

def max_profit():
    #random number selected to represent the inventory of the vendor
    inventory = 4
    customer_list = []
    gross_income = 0
    for index,row in df.iterrows():
        if(check_availability(row['Amount'],inventory)):
            customer_list.append(index)
            gross_income += row['Total']
            inventory -= row['Amount']
    print("List of customers: ", customer_list)
    print("Income is: ", gross_income)
    print("How much inventory is left: ", inventory)

In [116]:
max_profit()

List of customers:  ['D']
Income is:  36
How much inventory is left:  0