In [131]:
import pandas as pd

In [132]:
#data given in the format of [Amount, Price] for each company
dictVals = [[1,1],[2, 5],[3, 8],[4, 9],[5,10],[6,17],[7,17],[8, 20],[9, 24],[10,30]]

#Company names used as indices
indexVals = ['A','B','C','D','E','F','G','H','I','J']

#Titles given to the columns
columnVals = ['Amount', 'Price']

In [133]:
#Wanted to read data from CSV but had trouble formatting it correctly with the index so switched to getting data from 
#a dictionary
df = pd.DataFrame(data = dictVals,index=indexVals,columns=columnVals)

#Total column set as the product of the Amount times the Price
df['Total'] = df['Amount'] * df['Price']

In [134]:
df.sort_values(by='Total', ascending=False, inplace=True)
df

   Amount  Price  Total
J      10     30    300
I       9     24    216
H       8     20    160
G       7     17    119
F       6     17    102
E       5     10     50
D       4      9     36
C       3      8     24
B       2      5     10
A       1      1      1

In [135]:
def check_availability(Amount, inventory):
    return Amount <= inventory

def max_profit():
    #random number selected to represent the inventory of the vendor
    inventory = 4
    customer_list = []
    gross_income = 0
    for index,row in df.iterrows():
        if(check_availability(row['Amount'],inventory)):
            customer_list.append(index)
            gross_income += row['Total']
            inventory -= row['Amount']
        if(inventory == 0):
            break
    print("List of customers:", customer_list)
    print("Income is:", gross_income)
    print("How much inventory is left:", inventory)

In [136]:
max_profit()

List of customers: ['D']
Income is: 36
How much inventory is left: 0